---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/?owner_name=henrikhodne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"repos":[{"id":358872,"slug":"henrikhodne/travis-lite","description":"Travis
        CI without the JavaScript","last_build_id":6489681,"last_build_number":"47","last_build_state":"failed","last_build_duration":163,"last_build_language":null,"last_build_started_at":"2013-04-20T08:06:59Z","last_build_finished_at":"2013-04-20T08:08:44Z"},{"id":820533,"slug":"henrikhodne/MGBenchmark","description":"Library
        to measure code execution times easily","last_build_id":6396267,"last_build_number":"3","last_build_state":"errored","last_build_duration":10,"last_build_language":null,"last_build_started_at":"2013-04-16T21:53:12Z","last_build_finished_at":"2013-04-16T21:53:22Z"},{"id":542111,"slug":"henrikhodne/BubbleWrap","description":"Cocoa
        wrappers and helpers for RubyMotion (Ruby for iOS) - Making [...]
