---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/henrikhodne/travis-lite
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"855b6e37f68ec34b121fcf0ea477e2a2"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"repo":{"id":358872,"slug":"henrikhodne/travis-lite","description":"Travis
        CI without the JavaScript","last_build_id":6489681,"last_build_number":"47","last_build_state":"failed","last_build_duration":163,"last_build_language":null,"last_build_started_at":"2013-04-20T08:06:59Z","last_build_finished_at":"2013-04-20T08:08:44Z"}}'
  recorded_at: Sat, 20 Apr 2013 09:00:08 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/builds/?id=3587730&repository_id=358872
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"855b6e37f68ec34b121fcf0ea477e2a2"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"builds":[{"id":6489681,"repository_id":358872,"commit_id":1917311,"number":"47","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["1.9.3","rbx-19mode"],"env":["HEROKU_API_KEY=[secure]"],"after_success":"script/deploy",".result":"configured"},"state":"failed","started_at":"2013-04-20T08:06:59Z","finished_at":"2013-04-20T08:08:44Z","duration":163,"job_ids":[6489682,6489683]},{"id":6489613,"repository_id":358872,"commit_id":1917295,"number":"46","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["1.9.3","rbx-19mode"],"env":["HEROKU_API_KEY=[secure]"],"after_success":"script/deploy",".result":"configured"},"state":"errored","started_at":"2013-04-20T07:58:58Z","finished_at":"2013-04-20T07:59:06Z","duration":6,"job_ids":[6489614,6489615]},{"id":6488908,"repository_id":358872,"commit_id":1917104[...]
- request:
    method: get
    uri: https://api.travis-ci.org/jobs/6489682
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"f72fb6132e278a78f120db45d5701bb3"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"job":{"id":6489682,"repository_id":358872,"repository_slug":"henrikhodne/travis-lite","build_id":6489681,"commit_id":1917311,"log_id":1321467,"number":"47.1","config":{"language":"ruby","rvm":"1.9.3","env":"HEROKU_API_KEY=[secure]","after_success":"script/deploy",".result":"configured"},"state":"failed","started_at":"2013-04-20T08:07:04Z","finished_at":"2013-04-20T08:08:02Z","queue":"builds.linux","allow_failure":false,"tags":""},"commit":{"id":1917311,"sha":"ba10159a0543b2c8ff233ff59d4bd4d8f9d9dada","branch":"master","message":"Use
        the Travis gem to access the API\n\nThis will make it easier to keep up to
        date as the Travis API may\nchange. The Travis gem also comes with utility
        things like paging, which\nwe aren''t really utilizing at the time, but may
        in the future.","committed_at":"2013-04-20T08:00:29Z","author_name":"Henrik
        Hodne","author_email":"me@henrikhodne.com","committer_name":"Henrik Hodne","committer_email":"me@henrikhodne.com","compare_url":"https://github.com/henrikhodne/travis-lite/compare/8e4ac05b900d...ba10159a0543"}}'
  recorded_at: Sat, 20 Apr 2013 09:00:09 GMT
[...]
