<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Travis Lite</a>
      </div>
    </div>
  </div>

  <div class="container">
    {{{yield}}}
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
</body>
</html>
