<div class="page-header">
  <h1>Latest builds</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Repository name</th>
      <th>Last build</th>
      <th>Last build status</th>
    </tr>
  </thead>
  <tbody>
    {{#repositories}}
      <tr>
        <td><a href="/{{slug}}">{{slug}}</a></td>
        <td>#{{last_build_number}}</td>
        <td>{{{last_build_status}}}</td>
      </tr>
    {{/repositories}}
  </tbody>
</table>
