---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/henrikhodne/travis-lite
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      etag:
      - '"855b6e37f68ec34b121fcf0ea477e2a2"'
      x-accepted-oauth-scopes:
      - public
      x-oauth-scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"repo":{"id":358872,"slug":"henrikhodne/travis-lite","description":"Travis
        CI without the JavaScript","last_build_id":6489681,"last_build_number":"47","last_build_state":"failed","last_build_duration":163,"last_build_language":null,"last_build_started_at":"2013-04-20T08:06:59Z","last_build_finished_at":"2013-04-20T08:08:44Z"}}'
  recorded_at: Sat, 20 Apr 2013 08:56:38 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/jobs/6488909
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      etag:
      - '"e415eeb82335d21677722da3e05e316f"'
      x-accepted-oauth-scopes:
      - public
      x-oauth-scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"job":{"id":6488909,"repository_id":358872,"repository_slug":"henrikhodne/travis-lite","build_id":6488908,"commit_id":1917104,"log_id":1320887,"number":"45.1","config":{"language":"ruby","rvm":"1.9.3","env":"HEROKU_API_KEY=[secure]","after_success":"script/deploy",".result":"configured"},"state":"passed","started_at":"2013-04-20T06:52:03Z","finished_at":"2013-04-20T06:54:10Z","queue":"builds.linux","allow_failure":false,"tags":""},"commit":{"id":1917104,"sha":"8e4ac05b900db932ed420c4cf4f5ff9cc344dd4a","branch":"master","message":"Update
        Gemfile","committed_at":"2013-04-20T06:51:31Z","author_name":"Henrik Hodne","author_email":"me@henrikhodne.com","committer_name":"Henrik
        Hodne","committer_email":"me@henrikhodne.com","compare_url":"https://github.com/henrikhodne/travis-lite/compare/fba693a83e49...8e4ac05b900d"}}'
  recorded_at: Sat, 20 Apr 2013 08:56:38 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/logs/1320887
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-accepted-oauth-scopes:
      - public
      x-oauth-scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"log":{"id":1320887,"job_id":6488909,"type":"Log","body":"Using worker:
        worker-linux-6-2.bb.travis-ci.org:travis-linux-9\n\n$ export HEROKU_API_KEY=[secure]\r\ntravis_fold:start:git.1\r$
        git clone --depth=50 --branch=\"master\" git://github.com/henrikhodne/travis-lite.git
        henrikhodne/travis-lite\r\nCloning into ''henrikhodne/travis-lite''...\r\nremote:
        Counting objects: 532, done.\u001B[K\r\nremote: Compressing objects:   0%
        (1/234)   \u001B[K\rremote: Compressing objects:   1% (3/234)   \u001B[K\rr[...]
