---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: UTF-8
      string: '{"repos":[{"id":207439,"slug":"onepercentclub/bluebottle","description":"The
        repository for Project Bluebottle, the crowdsourcing framework initiated by
        the 1%CLUB.","last_build_id":6490250,"last_build_number":"1283","last_build_state":"started","last_build_duration":null,"last_build_language":null,"last_build_started_at":"2013-04-20T08:59:39Z","last_build_finished_at":null},{"id":378287,"slug":"colobot/colobot","description":"Source
        code of open-source Colobot project developed by Epsitec and Polish Portal
        of Colobot (PPC)","last_build_id":6490247,"last_build_number":"131","last_build_state":"started","last_build_duration":null,"last_build_language":null,"last_build_started_at":"2013-04-20T08:59:09Z","last_build_finished_at":null},{"id":314566,"slug":"EcoCityCraft/Spigot","description":"High
        performance Minecraft server implementation"[...]
