<div class="row">
  <div class="twelve columns">
    <h2>{{slug}} - Build #{{build_number}}</h2>
  </div>
</div>

<div class="row"
  <div class="twelve columns">
    <table class="twelve">
      <thead>
        <tr>
          <th>Job</th>
          <th>Job status</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        {{#matrix}}
          <tr class="{{row_class}}">
            <td><a href="/{{slug}}/jobs/{{id}}">#{{number}}</a></td>
            <td>{{status}}</td>
            <td>{{config_label}}</td>
          </tr>
        {{/matrix}}
      </tbody>
    </table>
  </div>
</div>
