<div class="row">
  <div class="twelve columns">
    <h2>Sorry, an error occurred</h2>

    <p>
      An error occurred while getting this page. If this keeps happening, please
      file an issue on the <a href="github.com/henrikhodne/travis-lite/issues">
      issue tracker</a>.
    </p>
  </div>
</div>
