<div class="row">
  <div class="twelve columns">
    <h2>{{slug}} - Build #{{job_number}}</a></h2>
  </div>
</div>

{{#job}}
<div class="row">
  <div class="twelve columns">
    <div>
      <ul>
        <li>Repo: <a href="/{{slug}}">{{slug}}</a></li>
        <li>Build <a href="/{{slug}}/builds/{{build_id}}">#{{build_number}}</a></li>
        <li>Status: <span class="label radius {{status_class}}">{{status}}</li>
        <li>Branch: {{branch}}</li>
        <li>Language: {{config_label}}</li>
        <li>Compare on <a href="{{compare_url}}">GitHub</a></li>
        <li>Message: <pre>{{message}}</pre></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h3>Log</h3>
    <pre>{{log}}</pre>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h3>Config</h3>
    <pre>{{config}}</pre>
  </div>
</div>
{{/job}}
