<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - Travis Lite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41126684-1', 'travis-lite.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="/">Travis Lite</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section>
        <ul class="right">
          <li><a href="https://github.com/henrikhodne/travis-lite">Travis Lite on GitHub</a></li>
        </ul>
      </section>
    </nav>
  </div>

  {{{yield}}}

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50bc53fd613f5d1432000019');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
