<div class="row">
  <div class="twelve columns">
    <h2>{{slug}}</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
        <tr>
          <th>Build</th>
          <th>Build status</th>
          <th>Branch</th>
          <th>Commit message</th>
        </tr>
      </thead>
      <tbody>
        {{#builds}}
          <tr class="{{row_class}}">
            <td><a href="/{{slug}}/builds/{{id}}">#{{number}}</a></td>
            <td>{{{status}}}</td>
            <td>{{branch}}</td>
            <td>{{message}}</td>
          </tr>
        {{/builds}}
      </tbody>
    </table>
  </div>
</div>
