<!DOCTYPE html>
<html>
<head>
  <title>Travis Lite</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id="content">
    <h1>Latest builds</h1>
    <ul>
    <% @repositories.each do |repository| %>
      <li><span class="slug"><a href="/<%= repository.slug %>"><%= repository.slug %></a></span> — Build #<%= repository.last_build_number %> —
        <% if repository.last_build_finished? %>
          <%= repository.last_build_passed? ? 'Passed' : 'Failed' %>
        <% else %>
          Running
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</body>
</html>
